@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.line {
  height: 3px;
  width: 140px;
  background-color: var(--darker-red);
}

.center-line {
  margin: 0 auto;
}

.back-icon {
  font-size: 40px;
  position: fixed;
  top: 90px;
  left: 50px;
  cursor: pointer;
  z-index: 99;
}

/*------------------------------------------------------*/

.training-schedule {
  padding: 70px 40px;
}

.schedule-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  & h1 {
    font-size: 60px;
    text-align: center;
    margin: 30px 0;
    color: rgba(0, 0, 0, 0.808);
  }
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

legend {
  text-align: center;
  padding: 0 20px;
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.705);
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 2px solid rgba(0, 0, 0, 0.377);
  border-radius: 30px;

  & button {
    padding: 15px 20px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
}

#large-room-schedule-button {
  background-color: #ff1414;
}

#litle-room1-schedule-button {
  background-color: #ff2727;
}

#litle-room2-schedule-button {
  background-color: #ff3b3b;
}

#litle-room3-schedule-button {
  background-color: #ff4e4e;
}

#krasne-schedule-button {
  background-color: #ff4f14;
  padding: 15px 30px;
}

#bialobrzegi-schedule-button {
  background-color: #ff5b27;
  padding: 15px 30px;
}

table {
  margin-top: 100px;
  border-collapse: collapse;

  & th,
  td {
    border: 3px solid white;
    border-radius: 15px;
    padding: 20px;
    font-size: 17px;
    width: 400px;
  }

  & th {
    color: white;
  }

  & h4 {
    color: wheat;
  }

  & p {
    margin: 10px 0;
  }

  & span {
    font-size: 15px;
    font-weight: bold;
  }
}

.large-room-schedule {
  & tr:first-of-type {
    background-color: #ff1414;
  }

  & tr:nth-of-type(2) {
    background-color: #ff2727;
  }

  & tr:nth-of-type(3) {
    background-color: #ff3b3b;
  }

  & tr:nth-of-type(4) {
    background-color: #ff4e4e;
  }
}

.sensei-piotr {
  color: #00a2ff;
}

.sensei-agnieszka {
  color: rgb(2, 255, 23);
}

/*-----------------------------------------------*/

@media (max-width: 1200px) {
}

@media (max-width: 700px) {
}

@media (max-width: 550px) {
}
