@keyframes showAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.showAnimation {
  animation: showAnimation 500ms ease-in;
}

.training-schedule {
  padding: 70px 40px;
}

.schedule-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  & h1 {
    font-size: 60px;
    text-align: center;
    margin: 30px 0;
    color: rgba(0, 0, 0, 0.808);
  }
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

legend {
  text-align: center;
  padding: 0 20px;
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.705);
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 2px solid rgba(0, 0, 0, 0.377);
  border-radius: 30px;

  & button {
    padding: 15px 20px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: scale 300ms;
  }

  & button:hover {
    scale: 1.07;
  }
}

#large-room-schedule-button {
  background-color: #b30000;
}

#litle-room1-schedule-button {
  background-color: #cc0000;
}

#litle-room2-schedule-button {
  background-color: #e60000;
}

#litle-room3-schedule-button {
  background-color: #ff0000;
}

#krasne-schedule-button {
  background-color: #e63a00;
  padding: 15px 30px;
}

#bialobrzegi-schedule-button {
  background-color: #ff4000;
  padding: 15px 30px;
}

table {
  color: whitesmoke;
  border-spacing: 5px;
  text-align: center;
  display: grid;
  place-items: center;

  & th,
  td {
    border-radius: 15px;
    padding: 20px;
    font-size: 17px;
    width: 400px;
  }

  & th {
    color: white;
  }

  & h4 {
    color: rgb(255, 255, 255);
  }

  & p {
    margin: 10px 0;
  }

  & span {
    font-size: 15px;
    font-weight: bold;
  }
}

.schedule-title {
  text-align: center;
  font-size: 40px;
  margin: 50px 0;
}

.large-room-schedule {
  & tr:first-of-type {
    background-color: #b30000;
  }

  & tr:nth-of-type(2) {
    background-color: #da0000;
  }

  & tr:nth-of-type(3) {
    background-color: #ff0202;
  }

  & tr:nth-of-type(4) {
    background-color: #ff2a2a;
  }
}

.little-room1-schedule {
  & tr:first-of-type {
    background-color: #cc0000;
  }

  & tr:nth-of-type(2) {
    background-color: #ff0808;
  }

  & tr:nth-of-type(3) {
    background-color: #ff4343;
  }
}

.little-room2-schedule {
  & tr:first-of-type {
    background-color: #e60000;
  }

  & tr:nth-of-type(2) {
    background-color: #ff2222;
  }

  & tr:nth-of-type(3) {
    background-color: #ff5d5d;
  }
}

.little-room3-schedule {
  & tr:first-of-type {
    background-color: #ff0000;
  }

  & tr:nth-of-type(2) {
    background-color: #ff2727;
  }

  & tr:nth-of-type(3) {
    background-color: #ff4e4e;
  }

  & tr:nth-of-type(4) {
    background-color: #ff7676;
  }

  & tr:nth-of-type(5) {
    background-color: #ff9d9d;
  }
}

.krasne-schedule {
  & td,
  th {
    width: 250px;
  }
  & tr:first-of-type {
    background-color: #e63a00;
  }

  & tr:nth-of-type(2) {
    background-color: #ff4b0e;
  }

  & tr:nth-of-type(3) {
    background-color: #ff6835;
  }
}

.bialobrzegi-schedule {
  & td,
  th {
    width: 250px;
  }
  & tr:first-of-type {
    background-color: #ff4000;
  }

  & tr:nth-of-type(2) {
    background-color: #ff5d27;
  }

  & tr:nth-of-type(3) {
    background-color: #ff7b4e;
  }
}

.sensei-piotr {
  color: #6ffaff;
}

.sensei-agnieszka {
  color: rgb(109, 255, 121);
}

.sensei-marek {
  color: rgb(200, 255, 0);
}

.sensei-dawid {
  color: rgb(255, 195, 31);
}

.sensei-daria {
  color: rgb(140, 0, 255);
}
