@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.line {
  height: 3px;
  width: 140px;
  background-color: var(--darker-red);
}

.center-line {
  margin: 0 auto;
}

.back-icon {
  font-size: 40px;
  position: fixed;
  top: 90px;
  left: 50px;
  cursor: pointer;
  z-index: 99;
}

/*------------------------------------------------------*/

@keyframes showAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.showAnimation {
  animation: showAnimation 500ms;
}

.training-schedule {
  padding: 70px 40px 20px 40px;
}

.schedule-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  & h1 {
    font-size: 60px;
    text-align: center;
    margin: 30px 0;
    color: rgba(0, 0, 0, 0.808);
  }
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

legend {
  text-align: center;
  padding: 0 20px;
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.705);
}

fieldset {
  display: grid;
  place-items: center;
  padding: 30px;
  border: 2px solid rgba(0, 0, 0, 0.377);
  border-radius: 30px;

  & button {
    padding: 15px 20px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: scale 300ms;
  }

  & button:hover {
    scale: 1.07;
  }
}

#large-room-schedule-button {
  background-color: #b30000;
}

#litle-room1-schedule-button {
  background-color: #cc0000;
}

#litle-room2-schedule-button {
  background-color: #e60000;
}

#litle-room3-schedule-button {
  background-color: #ff0000;
}

#krasne-schedule-button {
  background-color: #e63a00;
  padding: 15px 30px;
}

#bialobrzegi-schedule-button {
  background-color: #ff4000;
  padding: 15px 30px;
}

img {
  width: 100%;
}

.schedule-title {
  text-align: center;
  font-size: 40px;
  margin: 50px 0;
}

/*-----*/

.schedule-text {
  text-align: center;
  font-size: 23px;
  margin-top: 30px;
}

.schedule-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  place-items: center;
  margin-top: 100px;
}

.schedule-card {
  background-color: rgba(255, 0, 0, 0.699);
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 40px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 400ms;
  position: relative;

  & h3 {
    color: white;
    font-size: 30px;
  }

  & h4 {
    margin: 24px 0;
    font-size: 20px;
  }

  & p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.76);
  }

  & ion-icon {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 80px;
    color: white;
    opacity: 0.3;
  }
}

.schedule-card:hover {
  scale: 1.05;
  box-shadow: 0 0 40px rgb(255, 0, 0);
}

/*----------RESPONSYWNOSC-----------*/

@media (max-width: 1300px) {
  .categories {
    grid-template-columns: 1fr;
  }

  .schedule-cards-container {
    grid-template-columns: 1fr;
  }

  .schedule-card {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .training-place-buttons {
    display: grid;
    place-items: center;
    width: 100%;

    & button {
      width: 70%;
    }
  }

  .schedule-card {
    width: 100%;
  }

  .schedule-content h1 {
    font-size: 3em;
  }
}

@media (max-width: 550px) {
  .schedule-content h1 {
    font-size: 40px;
  }
  .training-place-buttons button {
    width: 100%;
  }

  .schedule-content h1 {
    font-size: 25px;
  }

  .training-schedule {
    padding: 0;
  }

  .schedule-card {
    padding: 80px 20px;
  }
}

.hidden {
  display: none;
}
