@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.about-us {
  padding: 50px;
  & h1 {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: rgb(0, 0, 0);
    & img {
      width: 50px;
      opacity: 0.3;
      margin: 0 200px;
    }
  }

  & ion-icon {
    position: absolute;
    top: 120px;
    left: 60px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  & img {
    max-width: 700px;
  }
}

.about-us-desc {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  & p {
    text-align: center;
    margin: 40px 0 70px 0;
    font-size: 20px;
  }
}

.about-us-spot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  & h3 {
    font-size: 50px;
    margin: 50px 0;
  }

  & ul {
    list-style-type: none;
  }

  & li {
    display: flex;
    align-items: center;
    margin: 40px 0;
    font-size: 20px;
  }
}

.li-img {
  width: 30px;
  opacity: 0.5;
  margin: 0 20px;
}

fieldset {
  max-width: 1100px;
  position: relative;
  padding: 30px 80px;
  margin: 100px auto;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & legend {
    padding: 0 30px;
    font-size: 50px;
    font-weight: bold;
  }
}

.trainer-img-container {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: center;
  & img {
    width: 300px;
  }
}

.trainer-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center start;
  border: 2px solid rgb(207, 207, 207);
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  margin: 40px 0;
  cursor: pointer;
  transition: 400ms;

  & p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;

    & span {
      color: rgba(255, 0, 0, 0.651);
      font-size: 25px;
    }
  }

  & span {
    font-size: 20px;
  }
}

.trainer-short {
  grid-column: 2/4;
}

.trainer-card:hover {
  border: 2px solid rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.616);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.527);
  color: white;
  scale: 1.03;
  & p span {
    color: rgb(71, 41, 41);
  }
}

.line {
  height: 3px;
  width: 140px;
  background-color: rgba(255, 0, 0, 0.685);
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.911) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
  padding: 25px;
  z-index: 100;
}

#nav-items-container {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar-logo {
  width: 110px;
}

.menu-option {
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 13px;
  transition: scale 200ms;
  cursor: pointer;
}
.menu-option:hover {
  scale: 1.15;
}

#menu-training-schedule:hover {
  position: relative;
  scale: 1;
}
#menu-training-schedule:hover #menu-training-list {
  display: flex;
  animation: menuTrainingList 300ms;
}
@keyframes menuTrainingList {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.selected-menu-option {
  background-color: rgba(255, 0, 0, 0.527);
  color: white;
}
.selected-menu-option:hover {
  scale: 1;
}

#menu-training-list {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  padding: 15px 0;

  & a {
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    background-color: white;
    width: 100%;
    transition: background-color 300ms;
  }

  & a:hover {
    background-color: whitesmoke;
  }
}

#responsive-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.281);
  justify-content: flex-end;
}

#responsive-menu-list {
  width: 40vw;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#close-menu-icon {
  align-self: flex-end;
  font-size: 40px;
  color: rgb(29, 29, 29);
  cursor: pointer;
  padding: 30px;
}

.res-menu-option {
  width: 100%;
  padding: 25px 40px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 300ms;
  border-bottom: 2px solid whitesmoke;
  cursor: pointer;
}
.res-menu-option:hover {
  background-color: whitesmoke;
}

#res-menu-training-schedule {
  display: flex;
  align-items: center;

  & ion-icon {
    margin-left: 20px;
  }
}
.res-menu-training-list {
  & a {
    display: block;
    text-decoration: none;
    padding-top: 40px;
    color: var(--darker-red);
  }
}

#menu-icon {
  display: none;
  font-size: 40px;
  color: rgb(29, 29, 29);
  cursor: pointer;
}
