@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.911) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  & .nav-items-container {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & img {
    width: 100px;
    margin: 0 30px;
  }

  & a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    transition: scale 150ms;
  }

  & a:hover {
    scale: 1.15;
  }

  & a:first-of-type {
    background-color: rgba(255, 0, 0, 0.527);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    padding: 10px;
  }

  & a:first-of-type:hover {
    scale: 1;
  }
}

.training-schedule {
  position: relative;
}

.training-schedule:hover {
  scale: 1;
}

.training-schedule:hover .training-list {
  display: flex;
  animation: menuList 300ms;
}

.training-list {
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 40px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 218, 218);
  padding: 15px 0;
  border-radius: 10px;
  display: none;
  & p {
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    font-size: 15px;
    transition: background-color 150ms;
  }

  & p:hover {
    background-color: whitesmoke;
  }
}

@keyframes menuList {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.enter-site {
  width: 100vw;
  height: 100vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#enter-site-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.705) 0%,
    rgba(255, 255, 255, 0.425) 60%,
    rgb(255, 255, 255) 100%
  );
  align-items: center;
  & h1 {
    font-size: 80px;
    letter-spacing: 5px;
    text-align: center;
    color: rgb(48, 48, 48);
    margin: 0 20px 65px 20px;
    text-shadow: 0 0 20px rgb(255, 255, 255);
  }
  & span {
    color: rgba(255, 0, 0, 0.555);
    font-size: 20px;
    font-weight: 600;
    padding: 0 30px;
    text-shadow: 0 0 10px rgb(255, 87, 87);
  }
  & button {
    padding: 15px 20px;
    margin-top: 20px;
    z-index: 1;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.658);
    backdrop-filter: blur(20px);
    cursor: pointer;
    transition: 300ms;
    & a {
      color: white;
      font-weight: 700;
      font-size: 16px;
      text-decoration: none;
    }
  }
  & button:hover {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.705);
    scale: 1.07;
  }
}

.menu-icon {
  font-size: 50px;
  display: none;
}

.main-site-content {
  padding: 20px;
}

.line {
  width: 130px;
  height: 3px;
  background-color: rgba(255, 0, 0, 0.658);
}

#about-us {
  max-width: 1450px;
  margin: 0 auto;
  padding: 200px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.about-us-txt {
  place-self: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  & h1 {
    font-size: 50px;
    margin: 10px 20px;
  }
  & p {
    font-size: 20px;
    margin: 10px 20px;
    padding-right: 60px;
  }
  & button {
    padding: 15px 20px;
    border: 2px solid rgba(255, 0, 0, 0.658);
    background-color: transparent;
    border-radius: 10px;
    margin: 20px 20px;
    color: rgba(255, 0, 0, 0.719);
    backdrop-filter: blur(20px);
    font-weight: bolder;
    font-size: 15px;
    transition: 200ms;
    cursor: pointer;
  }
  & button:hover {
    background-color: rgba(255, 0, 0, 0.658);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.705);
    color: white;
    scale: 1.02;
  }
}

.about-us-video {
  position: relative;
  & div {
    width: 550px;
    height: 310px;
    background-color: rgba(255, 0, 0, 0.658);
    top: 0;
    transform: rotate(-10deg);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;
  }

  & video {
    aspect-ratio: 16/9;
    transform: rotate(10deg);
  }
}

#what-is-karate {
  max-width: 1450px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h1 {
    font-size: 50px;
    margin: 10px 20px;
  }
  & p {
    font-size: 20px;
    margin: 110px 20px;
  }
  & div:first-of-type {
    margin: 20px 0;
  }
  & div:last-of-type {
    position: relative;
  }
  & img {
    width: 400px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.2;
  }
  & button {
    padding: 15px 20px;
    border: 2px solid rgba(255, 0, 0, 0.658);
    background-color: transparent;
    border-radius: 10px;
    margin: 20px 20px;
    color: rgba(255, 0, 0, 0.719);
    backdrop-filter: blur(20px);
    font-weight: bolder;
    font-size: 15px;
    transition: 200ms;
    cursor: pointer;
  }
  & button:hover {
    background-color: rgba(255, 0, 0, 0.658);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.705);
    color: white;
    scale: 1.02;
  }
}

@media (max-width: 1600px) {
  .menu-icon {
    display: block;
  }

  .menu-option {
    display: none;
  }

  #about-us {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  section {
    & h1 {
      font-size: 50px;
      margin: 30px;
    }

    & span {
      text-align: center;
      padding: 10px;
    }
  }

  nav {
    & div {
      width: 100vw;
      padding: 0 50px;
    }
    & img {
      margin: 0;
    }
  }
}
