.title-container {
  position: relative;

  & img {
    width: 100%;
  }
}
.title-container div {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  color: white;

  & h1 {
    font-size: 60px;
  }
  & p {
    margin: 30px;
    font-size: 20px;
  }
  & button {
    font-size: 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px 30px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    color: white;
    transition: 300ms;
  }
  & button:hover {
    scale: 1.05;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.705);
    cursor: pointer;
  }
}

.bottom-image-section {
  padding: 100px;
}

.camp-content {
  width: 75%;
  margin: 0 auto;
}

.current-events-container {
  margin: 100px 0;

  & h1 {
    font-size: 40px;
    padding: 20px;
  }
}
.current-events {
  padding: 0 130px;
  margin: 60px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 100px;
}
.event-item {
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(12, 141, 0, 0.281);
  transition: 400ms;
  cursor: pointer;
}
.event-item:hover {
  scale: 1.05;

  & img {
    scale: 1.12;
    opacity: 1;
  }
}
.event-item:hover .event-description {
  background-color: rgba(12, 141, 0, 0.8);
}
.event-image {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.event-image img {
  height: 100%;
  opacity: 0.7;
  transition: 400ms;
}
.event-description {
  padding: 40px;
  background-color: rgba(12, 141, 0, 0.5);
  transition: background-color 400ms;

  & h2 {
    color: white;
    font-size: 35px;
  }

  & p {
    font-size: 20px;
    margin-top: 24px;
  }
}

.images-fan-section {
  margin: 150px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.images-fan-section div {
  text-align: center;
  padding: 100px;

  & p {
    margin-top: 24px;
  }
}

.images-fan-section img {
  width: 100%;
}

.scrolling-images {
  height: 50vh;
  overflow: hidden;
  position: relative;
}
.scrolling-images img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  transition: 500ms;
}
.image1 {
  left: 50%;
  width: 40%;
}
.image2 {
  left: 10%;
  width: 30%;
}
.image3 {
  left: -30%;
  width: 30%;
}
.image4 {
  left: 130%;
  width: 30%;
}
.image5 {
  left: 90%;
  width: 30%;
}

video {
  width: 80%;
}

.image-container {
  margin: 100px 0;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 2fr;
  transition: scale 300ms, border 300ms;

  & p {
    font-size: 20px;
    place-items: center;
    padding: 50px;
  }
}
.camp-image {
  position: relative;
  width: 100%;
  background: url("images/camps1.jpg") no-repeat center center;
  background-size: cover;
}

.camp-image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}
.image-container:hover {
  scale: 1.03;
  border: 1px solid rgb(255, 0, 0);
}

.camp-registration {
  padding: 15px 20px;
  border: 2px solid rgba(255, 0, 0, 0.658);
  background-color: transparent;
  border-radius: 10px;
  color: rgba(255, 0, 0, 0.719);
  backdrop-filter: blur(10px);
  font-weight: bolder;
  transition: 300ms;
}

.camp-registration:hover {
  background-color: rgba(255, 0, 0, 0.658);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.705);
  color: white;
  scale: 1.05;
  cursor: pointer;
}
